* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-family: system-ui, sans-serif;
    background-color: #b5f6ff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

.app-container {
    width: 480px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.app-container > h3 {
    margin-bottom: 10px;
    align-self: flex-start;
    font-weight: 400;
}

.app-container > h2 {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    font-weight: 500;
}  

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
  
.options-container > button {
    min-width: 8rem;  
    padding: 10px 16px;  
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: hsl(214, 100%, 60%);
    transition: background-color 0.3s ease;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.options-container > button:hover {
    background-color: hsl(214, 100%, 45%);
}

.options-container > button:disabled {
    background-color: hsl(210, 15%, 80%);
    cursor: not-allowed;
}

.next-btn {
    padding: 10px 14px;  
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.next-btn:hover {
    background-color: black;
}

.retry-btn {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 2px;
    margin-top: 60px;
    padding: 10px 14px;  
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: hsl(44, 92%, 63%);
    transition: background-color 0.3s ease;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.retry-btn:hover {
    background-color: hsl(44, 92%, 45%);
}
  
.retry-icon {
    width: 20px;
    height: 20px;
    color: white;
}

@media (max-width: 520px) {
    .app-container {
        width: 350px;
    }
  }